html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    background-color: hsl(210, 46%, 95%);
    overflow: hidden;
    font-family: 'Manrope', sans-serif;
    color: hsl(217, 19%, 35%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
 * Help to set divs inline, with flexbox container and one child with fixed widtch:
 * https://stackoverflow.com/questions/29885284/how-to-set-a-fixed-width-column-with-css-flexbox
 */
.card {
    background: #ffffff;
    border-radius: 8px;
    width: 900px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.left {
    flex: 0 0 325px;
    border: none;
}

.left img {
    width: 100%;
    height: 100%;
    border: none;
}

.right {
    flex: 1;
    padding: 1rem 1.5rem;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
